<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../static/styles.css" >
 
  <title> Location de jeux   </title>
  <script type="text/javascript" src="../static/choisir.js"> </script>
</head>

<body>

    <h1> Location de jeux </h1>
	<div class="btn-group" style="text-align:right">
		<button class="button5"> Devenir Membre </button>
		<button class="button5"> Connexion </button>
		
	</div>

	<div>
		<button class="button"> <a href="liste">Jeux Classiques </a></button>

		<button class="button button4"> Jeux sur Console </button>
		<button class="button button3"> Jeux sur ordinateur </button>
		<button class="button2 button"> Accessoires et consoles </button>
	</div>
		<p name="ligne1"> pdftf     </p>

</body>

</html>
